<form method="get" action="/listings/search" class="d-flex align-items-center w-100" role="search" style="max-width: 500px;">
  <input 
    class="form-control me-2 py-2 px-3" 
    name="place"
    type="search" 
    id="search"
    placeholder="Search Destinations" 
    aria-label="Search"
    style="border-radius: 1rem;"
  >

  <button 
    class="btn btn-outline-success px-3 py-2" 
    type="submit"
    style="background-color: #FF5A5F; border: none; border-radius: 1rem;"
  >
    <i class="fa-solid fa-magnifying-glass" style="color: aliceblue;"></i>
  </button>
</form>

