<div id="filters">
  <div class="filter-track">
    <!-- Original Filter Items -->
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-plane-departure"></i></div>
      <p class="detail">Popular</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-money-check-dollar"></i></div>
      <p class="detail">Deals</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-hotel"></i></div>
      <p class="detail">Bedrooms</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-regular fa-restroom"></i></div>
      <p class="detail">Restrooms</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
      <p class="detail">Beachfront</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
      <p class="detail">Mountain</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-city"></i></div>
      <p class="detail">City</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-snowflake"></i></div>
      <p class="detail">Arctic</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-igloo"></i></div>
      <p class="detail">Domes</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-ship"></i></div>
      <p class="detail">Cruise</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-brands fa-pagelines"></i></div>
      <p class="detail">Eco Retreats</p>
    </div>

    <!-- Tax Switch (static at end of first track) -->
    <div class="taxSwitch">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label fw-bold" for="flexSwitchCheckDefault">Taxes</label>
      </div>
    </div>
  </div>

  <!-- Duplicate the entire filter track for seamless loop -->
  <div class="filter-track">
    <!-- Same items duplicated again (without taxSwitch if it's not meant to scroll) -->
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-plane-departure"></i></div>
      <p class="detail">Popular</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-money-check-dollar"></i></div>
      <p class="detail">Deals</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-hotel"></i></div>
      <p class="detail">Bedrooms</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-regular fa-restroom"></i></div>
      <p class="detail">Restrooms</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-umbrella-beach"></i></div>
      <p class="detail">Beachfront</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-mountain-sun"></i></div>
      <p class="detail">Mountain</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-city"></i></div>
      <p class="detail">City</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-snowflake"></i></div>
      <p class="detail">Arctic</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-igloo"></i></div>
      <p class="detail">Domes</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-solid fa-ship"></i></div>
      <p class="detail">Cruise</p>
    </div>
    <div class="filter">
      <div class="icon"><i class="fa-brands fa-pagelines"></i></div>
      <p class="detail">Eco Retreats</p>
    </div>
  </div>
</div>


