<% layout('layouts/boilerplate') %>

<body>
  <div class="container-fluid home-container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-10 col-md-10 col-lg-12">
        <div class="home-card text-center px-3 py-4">
          <h1 class="display-4 fw-bold text-black mb-3">Wanderlust</h1>
          <h2 class="fw-bold" style="color: rgb(246, 242, 242); font-size: 1.5rem;">
            <i><span id="typed-output" class="typed-text"></span></i>
          </h2>
        </div>
      </div>
    </div>
  </div>
</body>


